.edit-sprechtag-view {

}

.edit-sprechtag-view__header {
    padding: 1.5rem 1.5rem;
    border-bottom: 1px solid #e5e7eb;
}

.edit-sprechtag-view__header .breadcrumb {
    margin-bottom: 0.75rem;
}

.edit-sprechtag-view__header h2 {
    margin: 0;
}

.edit-sprechtag-view__bottom-button-bar {
    display: flex;
    gap: 0.5rem;
    padding: 1.5rem 1.5rem;
    border-top: 1px solid #e5e7eb;
}

.edit-sprechtag-view__draft-button {
    margin-left: auto;
}
