.form-panel {
    padding: 1.5rem 1.5rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

@media (min-width: 768px) {
    .form-panel {
        flex-direction: row;
    }

    .form-panel > :first-child {
        flex: 0 0 240px;
    }
}

.form-panel__title {
    font-size: 15px;
    font-weight: 500;
}

.form-panel__description {
    font-size: 13px;
    color: #8A909A;
}

.form-panel__form {
    flex: 1;
    min-width: 0;
}